{% extends 'base.html' %}
{% load static %}
{% block add %}
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            background: whitesmoke;
        }
    </style>
{% endblock %}
{% block head %}
    发送邮件验证
{% endblock %}
{% block header %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-6 column">
                        <p style="font-size: 50px;font-family: 楷体,serif;">社区儿童成长跟踪系统</p>
                    </div>
                    <div class="col-md-6 column">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <ul class="nav nav-tabs" style="margin-top: 16px;">
                                <li class="active"><a href="{% url 'index' %}">首页</a></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                        {{ request.session.username }}<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'personal' %}">个人中心</a></li>
                                        <li><a href="{% url 'token_password' %}">修改密码</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'quit' %}">退出</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div style="margin-top: 100px">
            <p>向{{ user.email }}发送邮件</p>
            <button class="btn btn-default"><a href="?ok=1">发送</a></button>
            {{ message }}
        </div>
    </div>
    <div class="col-md-4"></div>
{% endblock %}